:root {
  --heading-font: "Playfair Display", serif;
  --paragraph-font: "Poppins", sans-serif;
  --primary-color: #f9f7fe;
  --button-color: #6c63ff;
}
.hero {
  text-align: center;
  padding: 160px 20px;
  background: var(--primary-color);
}
h2 {
  font-family: var(--paragraph-font);
  font-weight: 500;
  font-size: 36px;
}
h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 96px;
}
p,
.app-description {
  font-family: var(--paragraph-font);
  font-weight: 400;
  line-height: 28px;
}
p {
  font-size: 24px;
  opacity: 0.8;
  color: #272142;
  margin-top: 0;
}
footer {
  margin-top: 70px;
  margin-bottom: 40px;
}
footer h2 {
  font-size: 24px;
}
footer h4 {
  font-size: 48px;
  font-weight: 700;
}
footer a {
  color: var(--button-color);
}
footer .email-link {
  text-decoration: none;
  color: #272142;
}
footer .email-link:hover {
  color: var(--button-color);
}
footer .work-inquiry {
  background: var(--primary-color);
  padding: 0 40px 20px 40px;
  border-radius: 20px;
}
.about-me {
  margin-bottom: 70px;
}
.technologies {
  margin-top: 50px;
}
.technologies span {
  font-size: 48px;
  font-family: var(--heading-font);
}
.technologies-list {
  margin-top: 30px;
}
.technologies-list img {
  max-width: 50px;
  margin-left: 0 !important;
}
.content-container {
  padding: 160px 20px;
}
.content-container h1 {
  font-size: 64px;
}
.content-container h2 {
  font-size: 24px;
}
.content-container p {
  color: #272142;
  font-size: 18px;
  opacity: 0.7;
}
.content-container img {
  border-radius: 40px;
  margin-left: 30px;
}
.my-projects h3 {
  font-family: var(--paragraph-font);
  font-size: 24px;
  font-weight: 700;
}
.my-projects p {
  font-size: 14px;
}
.my-projects img {
  padding: 15px;
  border: 1px solid rgb(168, 167, 167);
  border-radius: 0;
}
.social-media a {
  font-size: 18px;
  padding: 15px 20px;
  background: var(--primary-color);
  border-radius: 50%;
  margin: 0 20px;
}
.social-media a:hover {
  background: rgb(240, 236, 236);
  transition: all 150ms ease-in-out;
}
.nav-link {
  font-family: var(--paragraph-font);
  font-size: 18px;
}
.btn-branding,
.launch-link {
  font-family: var(--paragraph-font);
  font-weight: 500;
}
.btn-branding {
  font-size: 18px;
  background: var(--button-color);
  color: white;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 4px;
}
.btn-branding:hover {
  color: black;
  transition: all 200ms ease-in-out;
}
.featured-projects {
  text-align: center;
  font-size: 18px;
}
.app-name {
  font-family: var(--heading-font);
  font-weight: 700;
}
.app-name {
  font-size: 64px;
  margin-top: 50px;
}
.app-description {
  font-size: 16px;
}
.launch-link {
  text-decoration: none;
  color: var(--button-color);
  border: 1px solid var(--button-color);
  padding: 15px 20px;
  border-radius: 4px;
}
.contact-link {
  color: white;
  background: var(--button-color);
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  margin: 0;
}

@media (max-width: 960px) {
  h1 {
    font-size: 78px;
  }
  .featured-projects {
    margin: 10px !important;
  }
  .app-name {
    font-size: 48px;
    margin-top: 10px;
  }
  .container {
    text-align: center;
  }
  .content-container img {
    margin: 0;
    margin-top: 30px;
  }
  .my-projects h1 {
    font-size: 48px;
  }
  footer a {
    font-size: 36px;
  }
  .social-media a {
    font-size: 28px;
  }
}
