:root {
  --heading-font: "Playfair Display", serif;
  --paragraph-font: "Poppins", sans-serif;
  --primary-color: #f9f7fe;
  --button-color: #6c63ff;
}
.hero {
  text-align: center;
  padding: 160px 20px;
  background: var(--primary-color);
}
h2 {
  font-family: var(--paragraph-font);
  font-weight: 500;
  font-size: 36px;
}
h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 96px;
}
p,
.app-description {
  font-family: var(--paragraph-font);
  font-weight: 400;
}
p {
  font-size: 24px;
  opacity: 0.8;
  color: #272142;
  margin-top: 0;
}
.btn-branding,
.launch-link,
.contact-link {
  font-family: var(--paragraph-font);
  font-weight: 500;
}
.btn-branding {
  font-size: 18px;
  background: var(--button-color);
  color: white;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 4px;
}
.btn-branding:hover,
.contact-link:hover {
  color: black;
  transition: all 200ms ease-in-out;
}
.featured-projects {
  text-align: center;
  font-size: 18px;
}
.app-name,
.work-inquiry {
  font-family: var(--heading-font);
  font-weight: 700;
}
.app-name {
  font-size: 64px;
}
.app-description {
  font-size: 16px;
}
.launch-link {
  text-decoration: none;
  color: var(--button-color);
  border: 1px solid var(--button-color);
  padding: 15px 20px;
  border-radius: 4px;
}
.contact-link {
  color: white;
  background: var(--button-color);
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
}
.section {
  background: var(--primary-color);
  margin: 75px 30px;
  border-radius: 20px;
  padding: 0 30px;
}
.work-inquiry {
  font-size: 48px;
}
@media (max-width: 960px) {
  .hero {
    padding: 80px 0;
  }
  h1 {
    font-size: 78px;
  }
  .featured-projects {
    margin: 10px !important;
  }
  .app-name {
    font-size: 48px;
  }
  .container {
    text-align: center;
  }
}
